
#upload {
  width: 400px;
  height: 700px;
  margin: auto;
  text-align: center;
}
#picpreview {
  margin: auto;
  width: 75%;
  height: 400px;
  .row{
  width: 100%;}
  img {
  width: 100%;
  height: 500px;
}
}

#btns {
  width: 200px;
  margin: auto;
  @media (min-width: 1024px) {
    width: 100%;
    text-align: center;
  }
}
.selected-image{
width: 100%;height: 500px;
}