.q-toolbar {
  height: 80px;
  @media (max-width: 1023px) {
    height: 70px;
  }
}
section {
  margin: auto;
  width: 75%;
  .q-form {
    width: 100%;
  }
  @media (max-width: 1023px) {
    width: 95%;
  }
}
h3 {
  text-align: center;
  margin-bottom: 110px;
  position: relative;
  color: $teal;
}
h3::before {
  content: "";
  width: 110px;
  height: 10px;
  background: $secondary;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
h4 {
  color: $teal;
}
h5 {
  color: $teal;
}
#footer2 {
  width: 100%;
}
#footer {
  color: #fff;
  width: 100%;
  border-top: 5px solid $secondary;
  background-color: $secondary;
  text-align: center;
  .q-parallax {
    position: relative;
    height: 500px;
    width: 100%;
    .row{
    width: 100%;
    }
    .q-btn {
      width: 140px;
      height: 80px;

    }
  }
  h4 h6 {
    backdrop-filter: hue-rotate(180deg);
  }
}
#table {
  max-width: 75%;
  td {
    font-size: 1.5rem;
  }
}

.q-card {
  border: 1px solid $teal;
  border-radius: 20px;
}
.my-card:hover{
  transition: .5s;
transform: scale(1.03);
}