#pic {
  width: 100%;
  .row {
    @media (max-width: 1023px) {
      width: 92%;
    }
    width: 75%;
    margin-bottom: 50px;
  }
  .q-img {
    border-radius: 16px;
  }
}

#first {
  width: 100vw;
  .col-md-7 {
    margin-top: 20px;
    padding: 0 20px;
  }
  @media (min-width: 1024px) {
    .col-md-7 {
      margin: auto;
    }
  }
}
#map {
  max-width: 75%;
  margin: auto;
  .q-card {
    border: 1px solid $teal;
    border-radius: 10px;
  }
  @media (max-width: 1023px) {
    max-width: 100%;
  }
}
