// app global css in SCSS form
@import "./scss/global";
@import "./scss/index";
@import "./scss/info";
@import "./scss/doctor";
@import './scss/news';
@import './scss/login';
@import './scss/register';
@import './scss/banneradmin';
@import './scss/useradmin';


@font-face {
  font-family: customfont;
  src: url(../assets/jf-openhuninn-1.1.woff);
}
body {
  overflow-x: hidden;
  font-family: "customfont";
}
